@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;400;500;600;700&display=swap');

:root {
    --color-black: #000;
    --color-grey: #555555;
    --color-black-light: #222222;
    --color-white: #fff;
    --color-ultra-grey: #666;
}

*, /* *  обозначает что касается абсолюнто всех элементов*/
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* не позволяет дочерним элементам выходить за зону родителя */
}

ul, 
ol, 
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--color-black);
}

.btn{
    border: none;
    outline: none;
    background: transparent; /* прозрачность */
    cursor: pointer;
}

input{
    border: none;
    outline: none;
    background: none;
}

body{
    font-size: 18px;
    font-family: 'Red Hat Text', sans-serif;
}

.container{
    width: 85%; /* максимальная ширина может біть меньше но больше ни как, если задать width: - 
    значит ширина неможет ни больше ни меньше  будет только сколько она задана В РХ!!!, прценті в основном использовать для ширины
    */
    margin: 0 auto;
}

.header__top{

}

.header__top-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{

}

.nav {
    display: flex;
    align-items: center;
}

.nav__menu {
    display: flex;/*  Сказали блоку ты флекс */
    justify-content: flex-end; /* сказали блоку коль ты флекс иди ка в конец края блока */

}

.nav__menu {
    display: flex;
    justify-content: flex-end;
}

.nav__menu-list:not(:last-child){
    margin-right: 30px;
}

.nav__menu-link{
    line-height: 24px;
    letter-spacing: 0.15px;
    color: var(--color-black-light);
}

.input-search{ /* Убираем у поиска ширну что бі єлем прилегал к краю скиска */
    width: 0;
}

.btn-search{
    width: 24px;
    height: 24px;
    background: url(../img/search.svg) no-repeat center;
    margin-left: 80px;
    margin-right: 80px;
} 

.mobile-menu{
    width: 24px;
    height: 24px;
    background: url(../img/mobile-menu.svg) no-repeat center;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.mobile-menu.active {
    background: url(../img/close-menu.svg) no-repeat center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.header__bottom {
    background: url(../img/header-bg.png) no-repeat center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%); /* https://bennettfeely.com/clippy/ */
    padding: 97px 0 133px 59px;
}

.header__bottom-title {
    font-weight: 500;
    font-size: 60px;
    line-height: 85px;
    color: var(--color-black);
    width: 600px;
}

.header__bottom-text {
    width: 532px;
    margin: 30px 0 86px 0;
    line-height: 30px;
    color: var(--color-grey);
}

.header__bottom-block {
    display: flex;
}

.header__bottom-link {
    background: var(--color-white);
    border-radius: 12px;
    width: 212px;
    padding: 16px 27px 16px 47px;
    display: flex;
    flex-direction: column;
}

.header__bottom-link:first-child {
    background: var(--color-white) url(../img/apple.svg) no-repeat 27px center;
}
