@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?8nopwu");
  src: url("../fonts/icomoon.eot?8nopwu#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?8nopwu") format("truetype"),
    url("../fonts/icomoon.woff?8nopwu") format("woff"),
    url("../fonts/icomoon.svg?8nopwu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-headphones:before {
  content: "\e900";
  color: #1ec28b;
}
.icon-men:before {
  content: "\e901";
  color: #1ec28b;
}
.icon-price:before {
  content: "\e902";
  color: #1ec28b;
}
.icon-shake_hands:before {
  content: "\e903";
  color: #1ec28b;
}

:root {
  --color-black: #000;
  --color-grey: #555555;
  --color-black-light: #222222;
  --color-white: #fff;
  --color-ultra-grey: #666;
  --color-green: #1ec28b;
  --color-light-grey: #333333;
  --color-grey-text: #5f5f5f;
  --color-numb-text: #01385f;
  --bg-grey: #e5e5e5;
  --bg-grey-light: #f1fbf8;
}

*, /* *  обозначает что касается абсолюнто всех элементов*/
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* не позволяет дочерним элементам выходить за зону родителя */
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
}

.link--green {
  background: var(--color-green);
  color: var(--color-white);
}

.btn {
  border: none;
  outline: none;
  background: transparent; /* прозрачность */
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  background: none;
}

.inner-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: var(--color-black);
}

body {
  font-size: 18px;
  font-family: "Red Hat Text", sans-serif;
}

.container {
  width: 85%; /* максимальная ширина может біть меньше но больше ни как, если задать width: - 
    значит ширина неможет ни больше ни меньше  будет только сколько она задана В РХ!!!, прценті в основном использовать для ширины
    */
  max-width: 1240px; /* Добавили специально макисмальую ширину для 1240 если выйдет за пределы то макет не поплывет */
  margin: 0 auto;
}

.header__top {
}

.header__top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
}

.nav {
  display: flex;
  align-items: center;
}

.nav__menu {
  display: flex; /*  Сказали блоку ты флекс */
  justify-content: flex-end; /* сказали блоку коль ты флекс иди ка в конец края блока */
}

.nav__menu {
  display: flex;
  justify-content: flex-end;
}

.nav__menu-list:not(:last-child) {
  margin-right: 30px;
}

.nav__menu-link {
  line-height: 24px;
  letter-spacing: 0.15px;
  color: var(--color-black-light);
}

.input-search {
  /* Убираем у поиска ширну что бі єлем прилегал к краю скиска */
  width: 0;
}

.btn-search {
  width: 24px;
  height: 24px;
  background: url(../img/search.svg) no-repeat center;
  margin-left: 80px;
  margin-right: 80px;
}

.mobile-menu {
  width: 24px;
  height: 24px;
  background: url(../img/mobile-menu.svg) no-repeat center;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.mobile-menu.active {
  background: url(../img/close-menu.svg) no-repeat center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.header__bottom {
  background: url(../img/header-bg.png) no-repeat center;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 90%,
    0% 100%
  ); /* https://bennettfeely.com/clippy/ */
  padding: 97px 0 133px 59px;
}

.header__bottom-title {
  font-weight: 500;
  font-size: 60px;
  line-height: 85px;
  color: var(--color-black);
  width: 600px;
}

.header__bottom-text {
  width: 532px;
  margin: 30px 0 86px 0;
  line-height: 30px;
  color: var(--color-grey);
}

.header__bottom-block {
  display: flex;
}

.header__bottom-link {
  border-radius: 12px;
  width: 212px;
  padding: 16px 26px 16px 79px;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.header__bottom-link:first-child {
  background: var(--color-white) url(../img/apple.svg) no-repeat 27px center;
}

.header__bottom-link span:first-child {
  font-size: 12px;
  line-height: 14px;
  color: var(--color-ultra-grey);
}

.header__bottom-link span:last-child {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-black-light);
}

.header__bottom-link:last-child {
  background: var(--color-white) url(../img/goolge.svg) no-repeat 27px center;
  margin-left: 20px;
}

.header__bottom-link:hover {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* end header */

.carusel {
  padding: 129px 0;
}

/* section registretion */

.registrion {
  padding-bottom: 117px;
}

.registration__top-left {
  display: flex;
  align-items: center;
  box-shadow: 4px 10px 20px rgba(184, 201, 209, 0.26);
  border-radius: 40px;
}

.registration__select {
  padding: 16px 50px 18px 24px;
  border: none;
}

.registrion__title {
  margin-bottom: 30px;
}

.data-in {
  padding: 16px 50px 18px 24px;
}

.data-out {
  padding: 16px 50px 18px 24px;
}

.input-search {
  width: 107px;
  padding: 16px 27px 16px 28px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  border-radius: 50px;
}

.btn--green {
  color: var(--color-white);
  background: var(--color-green);
}

.registration__top-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--color-green);
  text-decoration: underline;
}

.registration__top_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

/* gallary registaration */

.registrarion__bottom-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.registration__bottom-block {
  /*? почему задали всему блоку max-width: 398px если у нас 2 первых по 608px */
  max-width: 398px;
  margin-bottom: 23px;
}

.registration__bottom-block:first-child {
  max-width: 608px;
}

.registration__bottom-block:nth-child(2) {
  max-width: 608px;
}

.registration__bottom-block:nth-child(3),
.registration__bottom-block:nth-child(4),
/* .header__bottom-block:nth-child  мі задали я прописал обращение на 289 строке*/
.registration__bottom-block:last-child {
  max-width: 398px;
}

.registration__bottom-img {
  width: 100%;
}

/* section hiroy */

.heroy {
  padding-bottom: 70px;
}

.heroy__wrapper {
  display: flex;
  justify-content: space-between;
}

.heroy__block {
  width: 298px;
  padding: 31px 20px 51px 20px;
  cursor: pointer;
  transition: 0.2s;
}

.heroy__block:hover .heroy__title {
  color: var(--color-green);
}

.heroy__block:hover {
  background: var(--color-white);
  box-shadow: 20px 20px 40px rgba(0, 39, 26, 0.06);
  transition: 0.2s;
}

.heroy__block:hover .heroy__item {
  background: var(--color-green);
}

.heroy__block:hover .heroy__item span:before {
  color: var(--color-white);
}

.heroy__item {
  width: 100px;
  height: 100px;
  background: rgba(30, 194, 139, 0.02);
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroy__item span {
  font-size: 48px;
}

.heroy__title {
  margin: 54px 0 12px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--color-grey);
}

.heroy__text {
  font-size: 14px;
  line-height: 24px;
  color: var(--color-grey-text);
}

/* block travel */

.travel {
  padding: 70px 0 23px 0;
}

.travel__block-left {
  max-width: 608px;
  padding: 60px 36px;
  background: var(--bg-grey-light);
}

.travel__block-right {
  width: 609px;
  position: relative;
}

.travel__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.travel__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 70px;
  color: var(--color-black-light);
}

.travel__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: var(--color-grey);
  margin: 20px 0 40px 0;
}
/* ? Travel any corner Вопрос по кнопке padding и dispaly block в закоментированном я не использую block а разняю все psddingon так можно? */
/* .travel__link.link--green {
    width: 185px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    padding: 16px 32px;
    border-radius: 12px;
} */

.travel__link {
  width: 185px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  padding: 16px 0;
  border-radius: 12px;
  text-align: center;
  display: block;
}

.block-right__fuche {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 26px;
  padding: 0 26px;
}
/*? Указали max-width: 180px; - у меня блок с данной величеной только средний растягивается если ставлю width: 180px; - то применяется ко всем div на нашем макете мы изменили padding - по бокам 25px*/
.block-right__content {
  background: var(--color-white);
  box-shadow: 15px 15px 30px rgb(46 118 94 / 29%);
  padding: 14px 26px;
  width: 180px;
  text-align: center;
}
/*? Нем огу понять работу not Мы указывваем селектор который не должен содержать*/
.block-right__content:not(:last-child) {
  margin-right: 8px;
}

.block-right__number {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: var(--color-numb-text);
}

.block-right__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: var(--color-grey-text);
  margin-bottom: 6px;
}

/** Не выравнивалась картинка по правому блоку - прописали свойсва для картинки все выравнялось */
.block-right__img {
  width: 100%;
  display: block;
}

/* <!--  section video --> */

.video {
  max-width: 1240px;
  margin: 0 auto;
  background: url(../img/video-bg.jpg) no-repeat center;
  /* сделали отступы для расположени кнопки картинка на стороне браузера растянулась*/
  padding: 230px 0;
  position: relative;
}

/*? Полностью Объяснить ход мысли по работе с блоком и отцентровкой элемента по центру */
.btn-block {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-video {
  display: block;
  position: relative;
  background-color: rgba(255, 255, 255, 0.178);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.btn-video::before {
    content: "";
    position: absolute;
    background: url(../img/button-video.png) no-repeat center;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}